#navbar {
  background: #222328;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
}

#navbar li {
  padding-left: 15px;
}

#navbar .nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  transition: all 0.25s ease;
}

#navbar .nav-link:hover,
#navbar .nav-link:focus {
  color: #f75757;
}

#navbar .nav-link.active {
  color: #f75757;
}

.navbar-brand {
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar-brand span {
  color: #f75757;
}

/* Links */
a {
  color: #242424;
  text-decoration: none;
}

#navbar a:focus,
a:hover {
  color: #f75757;
  text-decoration: none;
}

a:focus {
  outline: none;
}

/* nav li a:hover {
  font-weight: bold;
  background-color: indianred;
  cursor: pointer;
} */

nav li a.active {
  border-radius: 15px;
  /* font-weight: bold; */
  text-transform: uppercase;
  /* background-color: yellowgreen; */
  cursor: pointer;
}

.btn-solid-border {
  border: 2px solid #f75757;
  background: transparent;
  color: #242424;
}

.btn-solid-border:hover {
  border: 2px solid #f75757;
  background: #f75757;
}

.btn-round-full {
  border-radius: 50px;
}

#navbar .btn {
    padding: 0.5rem 1.5rem;
    color: #fff !important;
  }


.logout {
  border-radius: 15px;
  font-weight: bold;
  /* background-color: rgba(205, 92, 92, 0.513); */
}
